header {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    height:  60px;
    border-bottom: 2px solid black;
    box-shadow: 0 3px 8px black;
    background-color: rgba(0, 49, 47, 0.404);
}

 div .logo {
    
    width: 30px;
    height: 30px;
    margin-left:20px;
    margin-right:20px;
    background-color: rgb(131, 122, 252);

}

div .title {
    height: auto;
    width: auto;
    margin-right: 20px;
    color:rgb(92, 108, 255);
   
   
}